<select name="type">
    <option value="film">Film</option>
    <option value="serie">Série</option>
</select>

<hr>

<h2>➕ Ajouter un épisode à une série</h2>
<form method="POST">
    <input type="hidden" name="add_episode">
    <select name="video_id">
        {% for f in films if f.type == 'serie' %}
            <option value="{{ f.id }}">{{ f.nom }}</option>
        {% endfor %}
    </select>
    <input type="text" name="saison" placeholder="Saison 1">
    <input type="text" name="titre" placeholder="Nom de l'épisode">
    <input type="text" name="lien_ep" placeholder="Lien vidéo de l'épisode">
    <button type="submit">Ajouter l'épisode</button>
</form>
