{% for f in films %}
<div class="col">
    <div class="card h-100 bg-dark text-white border-secondary">
        <img src="{{ f.img }}" class="card-img-top" style="height: 250px; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">{{ f.nom }}</h5>
            {% if f.type == 'film' %}
                <a href="{{ f.lien }}" class="btn btn-danger w-100" target="_blank">Regarder</a>
            {% else %}
                <a href="/serie/{{ f.id }}" class="btn btn-danger w-100">Épisodes</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
